body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #07689F;
  color: white;
}

.top-bar-left img {
  height: 60px;
  width: 150px;
  margin: 10px;
}

.top-bar .button {
  background-color: white;
  color: #007BFF;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.top-bar .button:hover {
  background-color: #0056b3;
  color: white;
}

.form {
  padding: 20px;
  text-align: center;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* .destination-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
.image-collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
}
.image-collage img {
  align-items: center;
  width: 45%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  
}

footer a {
  color: #007BFF;
  margin-right: 10px;
  
}

footer a:hover {
  text-decoration: underline;
}
.destination{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
}
/* Responsive design */
@media (max-width: 768px) {
  header img {
    height: 40px;
  }

  .button {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5rem;
  }
}